.gameThumbnail {
	display: flex;
    flex-direction: column;
    margin-right: 1% !important;
    margin-left: 1% !important;
	width: 30%;
	height: 100%;

}      

.gameList {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
}

.games-image{
	height: 40%;
	image-resolution: 100dpi; 
	width: 100%;
    height: 100%;

  image-rendering: crisp-edges;
}

.platform-img{
	margin-left: 10px;
    width: 9%;
    height: 90%;
}

.btn-floating.halfway-fab {
    right: 4px !important;
    bottom: 2px !important;
}