.main-logo{
    height: 12%;
    width: 12%;
}

main {
    flex: 1 0 auto;
    padding-right: 1%;
    padding-left: 1%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.preloader-wrapper{
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}

.card-content{
    height: 100%;
    width: 100%;
}

.sidenav{
    transform: translateX(0) !important;
}

.pageTitle{
    text-align: center;
}

#search{
    text-indent: 17%;
}

.centered{
    text-align: center;
}

select{
    display: block !important;
}

input[type="search"]:not(.browser-default){
    color: white ;
}

